# Dependencies
node_modules/
.pnpm-store

# Production build
dist/

# Database & Local Uploads
database/
uploads/
*.db
*.sqlite

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db
